#darkMode {
  border: none;
  background-color: blue;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#darkMode.dark {
  border: none;
  background-color: red;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#LampContainer {
  height: 200px;
  width: 46px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 111;

  .draggable {
    transform: translateY(200px);
  }
}
