#darkMode {
    border: none;
    background-color: blue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#darkMode.dark {
    border: none;
    background-color: red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}